@use "../abstracts";

html {
  background-color: abstracts.$Deep-Teal-Sea-1;
  color: abstracts.$Deep-Teal-Sea-5;
}

button {
  background-color: var(--accent-color-1);
  outline: transparent;
  border: none;
  color: abstracts.$Deep-Teal-Sea-1;
  padding: 0;
}

#root {
  @include abstracts.centerFlex(column);
  width: 100%;
  height: 100%;
}

p,
button,
span {
  font-size: var(--fs-s);
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-l);
}

h3 {
  font-size: var(--fs-m);
}

svg {
  width: var(--fs-s);
  height: var(--fs-s);
}