* {
  margin: 0;
  padding: 0;
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: currentColor;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg,
canvas,
picture {
  display: block;
  height: auto;
  max-inline-size: 100%;
}

ol,
ul {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}