:root{
  --dark-color: #283963;
  --light-color: #f7a3df;
  --accent-color-1: #DE4E3E;
  --accent-color-2: #F552E5;
  --accent-color-3: #7B3EDE;
  --scheme-100: #C09DF5;
  --scheme-200: #AC8CDB;
  --scheme-300: #8E74B5;
  --scheme-400: #5C4B75;
  --scheme-500: #2C2438;
}
/* Color Theme Swatches in Hex */
$Deep-Teal-Sea-1: #012E40;
$Deep-Teal-Sea-2: #024959;
$Deep-Teal-Sea-3: #026773;
$Deep-Teal-Sea-4: #3CA6A6;
$Deep-Teal-Sea-5: #F2E3D5;
