/* Here will be the import of fonts and its application */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;900&display=swap");
:root {
  --dark-color: #283963;
  --light-color: #f7a3df;
  --accent-color-1: #f2753f;
  --accent-color-2: #9ae3ba;
  --accent-color-3: #f4be51;
  --scheme-100: #C09DF5;
  --scheme-200: #AC8CDB;
  --scheme-300: #8E74B5;
  --scheme-400: #5C4B75;
  --scheme-500: #2C2438;
  --status-Completed: #9AC738;
  --status-InProgress: #FFD770;
  --status-ToDo: #55CEF2;
  --status-Paused: #A373DE;
  --status-Canceled: #FF4C38;
  --fs-xl: clamp(2rem + 0.55vw, 2vw + 1.1rem, 4.5rem);
  --fs-l: clamp(1.7rem + 0.45vw, 1.7vw + 0.9rem, 3.5rem);
  --fs-m: clamp(1.35rem + 0.35vw, 1.35vw + 0.7rem, 2.5rem);
  --fs-s: clamp(1rem + 0.25vw, 1vw + 0.5rem, 1.5rem);
  --fs-xs: clamp(0.7rem + 0.15vw, 0.7vw + 0.3rem, 1rem);
}

/* Color Theme Swatches in Hex */
* {
  margin: 0;
  padding: 0;
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: currentColor;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg,
canvas,
picture {
  display: block;
  height: auto;
  max-inline-size: 100%;
}

ol,
ul {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
* {
  font-family: "Nunito", sans-serif;
}

html {
  background-color: #012E40;
  color: #F2E3D5;
}

button {
  background-color: var(--accent-color-1);
  outline: transparent;
  border: none;
  color: #012E40;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

p,
button,
span {
  font-size: var(--fs-s);
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-l);
}

h3 {
  font-size: var(--fs-m);
}

svg {
  width: var(--fs-s);
  height: var(--fs-s);
}

.clock-container {
  position: sticky;
  padding: 8px;
  border-radius: 0 0 0 10px;
  top: 10px;
  right: 10px;
  background-color: var(--accent-color-1);
}
.clock-container .clock {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.button {
  cursor: pointer;
  border-radius: 10px;
}
.button .button-text {
  font-weight: bold;
}
.button--small {
  padding: 4px;
}
.button--small:hover, .button--small:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 2px 0px #F2E3D5;
}
.button--medium {
  font-size: var(--fs-xl);
}
.button--Completed {
  background-color: var(--status-Completed);
}
.button--InProgress {
  background-color: var(--status-InProgress);
}
.button--ToDo {
  background-color: var(--status-ToDo);
}
.button--Canceled {
  background-color: var(--status-Canceled);
}
.button--Paused {
  background-color: var(--status-Paused);
}

.create-btn {
  background-color: transparent;
  width: 100%;
  margin-top: 5px;
}
.create-btn .button-text {
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--accent-color-2);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.create-btn:hover .button-text, .create-btn:focus .button-text {
  transform: translateY(-5px);
  color: var(--accent-color-1);
  box-shadow: 0px 0px 3px 0px #F2E3D5;
}

.closeButton {
  position: absolute;
  height: 32px;
  top: -20px;
  right: -20px;
  font-size: 2rem;
  color: var(--status-Canceled);
  box-shadow: 0px 0px 1px 7px #026773;
  background-color: transparent;
  border-radius: 50%;
}
.closeButton:focus {
  box-shadow: 0px 0px 3px 5px #F2E3D5;
}
.closeButton svg {
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.closeButton:hover svg, .closeButton:focus svg {
  cursor: pointer;
  transform: scale(1.2);
}

.editButton {
  background-color: transparent;
  font-size: 1rem;
  color: hsl(200, 20%, 60%);
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.editButton svg {
  transition: color 0.5s linear, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.editButton:hover svg, .editButton:focus svg {
  transform: scale(1.3) translateX(-2px) translateY(4px);
  color: hsl(200, 20%, 95%);
  box-shadow: 0px 0px 1px 0px #F2E3D5;
}

.modal__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--scheme-500);
  opacity: 70%;
}

.modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.message {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  background-color: #3CA6A6;
}
.message--error {
  color: var(--accent-color-1);
}
.message--notFound {
  color: var(--accent-color-2);
}
.message--empty {
  color: var(--dark-color);
}

.item-container {
  scroll-snap-align: start;
  background-color: transparent;
  cursor: pointer;
}
.item-container:hover .todo-item {
  transform: scale(1.05);
  transform: translateX(20px);
}
.item-container:focus .todo-item {
  box-shadow: 0px 0px 5px 0px #F2E3D5;
}
.item-container .todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--scheme-500);
  color: var(--scheme-100);
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
  min-width: 120px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.item-container .todo-item span {
  padding: 15px 0;
}
.item-container .todo-item .item__status {
  display: flex;
  align-items: center;
  padding: 2px;
  align-self: stretch;
  width: 16px;
}
.item-container .todo-item .item__status--Completed {
  background-color: var(--status-Completed);
}
.item-container .todo-item .item__status--InProgress {
  background-color: var(--status-InProgress);
}
.item-container .todo-item .item__status--ToDo {
  background-color: var(--status-ToDo);
}
.item-container .todo-item .item__status--Canceled {
  background-color: var(--status-Canceled);
}
.item-container .todo-item .item__status--Paused {
  background-color: var(--status-Paused);
}
.item-container .todo-item .item__status * {
  color: var(--scheme-500);
}
.item-container .item--selected {
  transform: translateX(20px);
}

.counter {
  text-align: center;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #3CA6A6;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
}
.search-box:hover, .search-box.focused {
  box-shadow: 0px 0px 2px 1px var(--accent-color-2);
}
.search-box svg {
  color: var(--accent-color-2);
  font-size: 1.2rem;
}
.search-box input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 250px;
  margin-left: 5px;
  color: var(--dark-color);
}
.search-box input::-moz-placeholder {
  color: #026773;
}
.search-box input::placeholder {
  color: #026773;
}

.skl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.skl .skl__title {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  background-color: #F2E3D5;
}
.skl .skl__bottom {
  width: 90%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.skl .skl__bottom .items {
  width: 170px;
  height: 100%;
  margin-right: 20px;
}
.skl .skl__bottom .items .item {
  background-color: #F2E3D5;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 10px 0 0 10px;
}
.skl .skl__bottom .items .item:first-child {
  transform: translateX(18px);
}
.skl .skl__bottom .right-box {
  width: 450px;
  height: 100%;
  background-color: #F2E3D5;
  border-radius: 0 10px 10px 0;
}

.animated {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.sideMenu {
  position: sticky;
  top: 10px;
  left: 10px;
}
.sideMenu .menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 2px;
}
.sideMenu .menu-container .items-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.sideMenu .menu-container .items-container .item-container:hover .menu__item {
  transform: translateX(22px);
}
.sideMenu .menu-container .items-container .menu__item {
  width: 100px;
  padding: 8px;
  margin: 0;
  background-color: #026773;
  text-align: end;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
}
.sideMenu .menu-container .menu__side-bar {
  width: 20px;
  align-self: stretch;
  background-color: var(--accent-color-1);
}

.form-container {
  position: relative;
  z-index: 10;
}
.form-container .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: 10px;
  background-color: #3CA6A6;
  border-radius: 20px;
  width: 300px;
  height: 450px;
}
.form-container .form .form-header {
  text-align: center;
  background-color: #026773;
  padding: 15px;
  font-size: 1.4rem;
}
.form-container .form .form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.form-container .form .form-inputs label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--scheme-500);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.form-container .form .form-inputs input,
.form-container .form .form-inputs select,
.form-container .form .form-inputs textArea {
  color: #024959;
  padding: 5px;
  border-radius: 10px;
  border-style: none;
  outline-style: none;
  resize: none;
}
.form-container .form .form-inputs input:focus,
.form-container .form .form-inputs select:focus,
.form-container .form .form-inputs textArea:focus {
  outline: 1px solid var(--accent-color-3);
  box-shadow: 1px 1px 2px 1px var(--accent-color-1);
}
.form-container .form .form-inputs textArea {
  width: 250px;
  height: 70px;
}
.form-container .form .action-button {
  padding: 10px;
  border-radius: 0;
  font-weight: bold;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form-container .form .action-button:hover {
  transform: scale(1.1);
  outline: 2px solid var(--accent-color-2);
}
.form-container .form .action-button:focus {
  transform: scale(1.1);
  outline: 2px solid var(--accent-color-2);
}

.list-container {
  position: relative;
  z-index: 10;
}
.list-container .content-container {
  border-radius: 20px;
  overflow: hidden;
  max-width: 500px;
  max-height: 500px;
}
.list-container .content-container .List-header {
  text-align: center;
  background-color: #026773;
  padding: 15px;
  font-size: 1.4rem;
}
.list-container .content-container .ordered-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: #3CA6A6;
  min-height: 30px;
  padding: 10px;
  overflow: scroll;
}
.list-container .content-container .ordered-list li {
  list-style: none;
  color: #012E40;
  padding: 5px;
  border-left: 2px solid var(--accent-color-2);
  font-size: 1.1rem;
}

.create-note-button {
  background-color: var(--accent-color-2);
}

.horizontal-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.horizontal-align .create-note-button {
  border-radius: 15px 0px 0px 15px;
}
.horizontal-align .see-notes-button {
  border-radius: 0 15px 15px 0;
}

.button-container.false {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  gap: 5px;
}
.button-container.false .create-note-button {
  border-radius: 15px 15px 0 0;
}
.button-container.false .see-notes-button {
  border-radius: 0 0 15px 15px;
}

.current-task {
  border-radius: 0 20px 20px 0;
  background-color: var(--scheme-500);
  color: var(--light-color);
  height: -moz-fit-content;
  height: fit-content;
}
.current-task .task-detail__title {
  position: relative;
  font-size: 1.3rem;
  padding: 12px 0;
  color: var(--accent-color-1);
  border-bottom: 2px solid var(--light-color);
  text-align: center;
}
.current-task .task-status {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}
.current-task .task-status .task-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.current-task .task-status .task-info .task-importance {
  text-align: center;
  padding-bottom: 2px;
  font-size: 1.2rem;
  color: var(--accent-color-2);
}
.current-task .task-status .task-info .info-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
}
.current-task .task-status .task-info .info-dates .info__date {
  font-weight: lighter;
}
.current-task .task-status .task-info .info-dates .info__date--start {
  color: var(--accent-color-3);
}
.current-task .task-status .task-info .info-dates .info__date--end {
  color: var(--accent-color-1);
}
.current-task .task-status .status-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.current-task .task-status .status-control .status__title {
  font-size: 1.2rem;
  color: var(--accent-color-2);
}
.current-task .task-status .status-control .status__title--Canceled {
  color: var(--status-Canceled);
}
.current-task .task-status .status-control .status__title--Completed {
  color: var(--status-Completed);
}
.current-task .task-status .status-control .status__title--ToDo {
  color: var(--status-ToDo);
}
.current-task .task-status .status-control .status__title--Paused {
  color: var(--status-Paused);
}
.current-task .task-status .status-control .status__title--InProgress {
  color: var(--status-InProgress);
}
.current-task .task-status .status-control .status__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  align-items: stretch;
  gap: 5px;
}
.current-task .task-status .status-control .status__actions .status-note {
  font-weight: lighter;
  color: #F2E3D5;
}
.current-task .task-status .status-control .status__actions .button--small {
  padding: 5px 10px;
}
.current-task .task-status .status-control .status__actions .upper-button {
  border-radius: 0;
}
.current-task .task-status .status-control .status__actions .down-button {
  border-radius: 0 0 10px 10px;
}
.current-task .description {
  margin: 30px 0px 10px 10px;
  padding: 0px 10px 0 5px;
  border-left: 1px solid var(--accent-color-3);
  color: #F2E3D5;
  max-height: 220px;
  word-wrap: normal;
}

.tasks-list {
  max-height: 425px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding-right: 20px;
  border-right: 2px solid var(--scheme-500);
  scroll-snap-type: y mandatory;
}

.interface {
  background-color: #026773;
  padding: 10px;
  border-radius: 10px;
  width: 700px;
  margin: 10px 0;
}
.interface .counter {
  margin: 10px 0;
}
.interface .tasks {
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: auto 1fr;
}

footer {
  height: 40px;
  width: 100%;
  background-color: #024959;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  background-color: #024959;
}
header H1 {
  margin-left: 10px;
}
header H1 span {
  color: var(--accent-color-1);
}
header .profile {
  margin-right: 10px;
}
header .profile p {
  font-size: 1.5rem;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 1400px;
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */