.button{
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
  }
  &--small{
    border-radius: 10px;
    padding: 4px;
  }
  &--medium{
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
  }
  &--Completed{
    background-color: var(--status-Completed);
  }
  &--InProgress{
    background-color: var(--status-InProgress);
  }
  &--ToDo{
    background-color: var(--status-ToDo);
  }
  &--Canceled{
    background-color: var(--status-Canceled);
  }
  &--Paused{
    background-color: var(--status-Paused);
  }
}
