@use "../abstracts" as *;

.button{
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
  }
  &--small{
    border-radius: 10px;
    padding: 4px;
  }
  &--medium{
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
  }
  &--Completed{
    background-color: var(--status-Completed);
  }
  &--InProgress{
    background-color: var(--status-InProgress);
  }
  &--ToDo{
    background-color: var(--status-ToDo);
  }
  &--Canceled{
    background-color: var(--status-Canceled);
  }
  &--Paused{
    background-color: var(--status-Paused);
  }
}
.closeButton{
  position: absolute;
  height: 32px;
  top: -20px;
  right: -20px;
  font-size: 2rem;
  color: var(--status-Canceled);
  box-shadow: 0px 0px 1px 7px $Deep-Teal-Sea-3;
  background-color: transparent;
  border-radius: 50%;
  &:hover svg{
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    transform: scale(1.2);
  }
}