@use "../abstracts" as *;

.button {
  cursor: pointer;
  & .button-text{
    font-weight: bold;
  }
  &--small {
    border-radius: 10px;
    padding: 4px;
    &:hover {
      transform: scale(1.05);
    }
  }
  &--medium {
    border-radius: 10px;
    font-size: 1.2rem;
  }
  &--Completed {
    background-color: var(--status-Completed);
  }
  &--InProgress {
    background-color: var(--status-InProgress);
  }
  &--ToDo {
    background-color: var(--status-ToDo);
  }
  &--Canceled {
    background-color: var(--status-Canceled);
  }
  &--Paused {
    background-color: var(--status-Paused);
  }
}
.create-btn {
  background-color: transparent;
  width: 100%;
  margin-top: 5px;
  .button-text {
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--accent-color-2);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &:hover .button-text{
    transform: translateY(-5px);
    color: var(--accent-color-1);
  }
}

.closeButton {
  position: absolute;
  height: 32px;
  top: -20px;
  right: -20px;
  font-size: 2rem;
  color: var(--status-Canceled);
  box-shadow: 0px 0px 1px 7px $Deep-Teal-Sea-3;
  background-color: transparent;
  border-radius: 50%;
  svg {
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &:hover svg {
    cursor: pointer;
    transform: scale(1.2);
  }
}
.edithButton {
  background-color: transparent;
  font-size: 1rem;
  color: hsl(200, 20%, 60%);
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  svg {
    transition: color 0.5s linear,
      transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &:hover svg {
    transform: scale(1.3) translateX(-2px) translateY(4px);
    color: hsl(200, 20%, 95%);
  }
}
