@use "../abstracts" as *;

.interface{
  background-color: $Deep-Teal-Sea-3;
  padding: 10px;
  border-radius: 10px;
  width: 700px;
  .tasks{
    display: grid;
    gap: 20px;
    margin-bottom: 10px;
    grid-template-columns: auto 1fr;
  }
}