@use "../abstracts" as *;

.menu-container{
  @include centerFlex;
  position: absolute;
  top: 10px;
  left: 10px;
  width: fit-content;
  height: fit-content;
  gap: 2px;
  .items-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    .item-container:hover .menu__item{
      transform: translateX(22px);
    }
    .menu__item {
      width: 100px;
      padding: 8px;
      margin: 0;
      background-color: $Deep-Teal-Sea-3;
      text-align: end;
      cursor: pointer;
      font: {
        weight: 500;
        size: 1.5rem;
      }
    }
  }
  .menu__side-bar{
    width: 20px;
    align-self: stretch;
    background-color: var(--accent-color-1);
  }

}