@use '../abstracts' as *;

.tasks__detail{
  .current-task{
    border-radius: 0 20px;
    padding: 10px;
    background-color: var(--scheme-500);
    color: var(--light-color);
    h3{
      color: var(--accent-color-1);
    }
    .task-status{
      display: flex;
      justify-content: space-evenly;
      font-weight: 600;
    }
    .description{
      color: $Deep-Teal-Sea-5;
      text-align: justify;
    }
  }

}