@use "../abstracts" as *;

.search-box {
  @include centerFlex();
  background-color: $Deep-Teal-Sea-4;
  padding: 10px;
  border-radius: 20px;
  &:hover {
    box-shadow: 0px 0px 2px 1px var(--accent-color-2);
  }
  svg{
    color: var(--accent-color-2);
    font-size: 1.2rem;
  }
  input {
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 5px;
    color: var(--dark-color);
    &::placeholder {
      color: $Deep-Teal-Sea-3;
    }
  }
}
