@use "../abstracts" as *;
header{
  @include centerFlex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  background-color: $Deep-Teal-Sea-2;
  H1{
    margin-left: 10px;
    span{
      color: var(--accent-color-1);
    }
  }
  .profile{
    margin-right: 10px;
    p{
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}