@use "../abstracts" as *;

main{
  @include centerFlex;
  position: relative;
  justify-content: space-evenly;
  padding: 10px;
  .interface{
    background-color: $Deep-Teal-Sea-3;
    padding: 10px;
    border-radius: 10px;
    .tasks{
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 10px;
    }
  }
}